// main
$main-color: #3ea1d1;

// font
$font-color: #333333;
$font-sub-color: #888888;
$font-price-color: #989898;
$font-input-required-color: #e7728e;

// back-ground
$bg-input-label-color: #75bbdd;
$bg-footer-color: #f7f7f7;

// shadow
$shadow-color: rgba(96, 96, 96, 0.16);

// border
$border-color: #e0e0e0;
