// font-family
$ff-main: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',serif;
$ff-title: 'Hiragino Mincho Pro','ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',serif;

// font-size
$fz-main: 16px;
$fz-xs: 12px;
$fz-s: 14px;
$fz-m: 18px;
$fz-l: 20px;
$fz-ll: 22px;
$fz-3l: 26px;
$fz-4l: 28px;
$fz-5l: 30px;
$fz-6l: 40px;
